[Unit]
Description=Torrent Tracker
After=syslog.target
After=network.target
[Service]
Type=simple
User=tracker
Group=tracker
WorkingDirectory=/etc/share/tracker
ExecStart=/usr/bin/bttrack --port 6969 --dfile /etc/share/tracker/dstate --logfile /etc/share/tracker/tracker.log --nat_check 0 --scrape_allowed full --ipv6_enabled 0

TimeoutSec=300

[Install]
WantedBy=multi-user.target
