[Unit]
Description=Zeronet Peer
After=syslog.target
After=network.target
[Service]
Type=simple
User=zeronet
Group=zeronet
WorkingDirectory=/opt/zeronet
ExecStart=/usr/bin/python zeronet.py --ip_external $(hostname).local --trackers_file /opt/zeronet/bootstrap

TimeoutSec=300

[Install]
WantedBy=multi-user.target
