[Unit]
Description=Zeronet Peer
After=network.target
After=tor.service
[Service]
Type=simple
User=zeronet
Group=zeronet
WorkingDirectory=/etc/share/zeronet
ExecStart=/usr/bin/start-zeronet

TimeoutSec=300

[Install]
WantedBy=multi-user.target
